#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  height: 100px;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 3em;
  line-height: 2em;
  margin-left: 0.5em;
}

#nav-bar .left-align {
  align-items: center;
  float: left;
}

#nav-bar .right-align {
  justify-content: right;
}

#nav-bar #compose {
  border: solid black 2px;
  color: #3EA99F;
  height: 80px;
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 8px;
  display: flex;
}

#nav-bar #composeIcon {
  padding-right: 1em;
}

.select {
    background-color: #F9FEFE;
}
.select.highlight {
    background-color: #CBF0E5;
}